@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
body,html{
    height: 100vh;
    width: 100vw;
}
body{
    background-image: url("imagens/fundo-madeira.jpg");
    background-attachment: fixed;
}
main{
    height: 50%;
    width: 100vw;
    position:relative;
}

#full{
    width: 100vw;
}
section#telefone{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 627px;
    width:311px;
    background: url("imagens/frame-iphone3.png") no-repeat bottom center;
} 
iframe#tela{
    position: relative;
    top: 149px;
    left: 39px;
    width: 233px;
    height: 411px;
    box-shadow: 0px 0px 0px;
}

section#redes-sociais img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 50px;
    margin:10px;
    line-height: 30px; 
    box-shadow: 3px 2px 2px black;
}
section#redes-sociais img:hover{
    border: 1px solid rgb(56, 44, 44);
    transform: translate(-3px,-3px);
    box-shadow: 3px 3px 5px #00000081;
    transition: transform .2s, border 0.3s;
}
section#redes-sociais{
    position: absolute;
    top:550px; /* Posiciona no topo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    display: flex;
    justify-content: center; /* Centraliza os elementos filhos */
    align-items: flex-start; /* Alinha no topo */
    margin-top: 20px; /* Ajuste opcional do espaço do topo */
}